<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Hospitals Near you</h1>
        <p>This is a work in progress page which should have information about different hospitals and doctors. Ideally, the user would be able to book an appointment with a doctor through this app.</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>