<html>
<head>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<header>

		<div class="main">
		<div class="logo">
			<img src="logo.png">
			<ul>
				<%- include('../partials/header'); %>
			</ul>
          </div>
          </header>
          <div class="title">
          	<h1>TECH MEDICS</h1>
          </div>



          <div class="button">
          	<a href="#" class="btn">ABOUT TECH MEDICS</a>
            <a href="#" class="btn">OUR VISION</a>
          </div>

           <div class="p">
          <section>
          	<h1>ABOUT US</h1>
          	<p>Here, at tech medics we connect you to ER Rooms in the case of a severe emergency. We are driven to provide you with accurate results,impeccable knowledge and spot-on information to help you in an emergency situation.</p>
          </section>
          	</div>

          	<div class="p2">
          	<section>
          		<h1>OUR VISION</h1>
          		<p2>To help you in an extreme emergency situation, we provide legitimate hospital information as well as medical expertise in an easy to understand method.</p2>
          	</section>	
          	</div>
            <footer>
    <%- include('../partials/footer'); %>
</footer>
   

    

</body>
</html>    