<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Message a Doc</h1>
        <p>This is a work in progress page which should have an interactive platform for users to login in and submit messages to doctors about different issues they may have. Ideally, the user would be able to interact with doctors volunteering their time through this app.</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>